$border: 3px red solid;


.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
    width: 100%;
    height: 100%;
    // border: 3px red solid;
    text-align: center;
    color: #eee;
    font-size: 25px;

    h1{
        margin: 3px;
        font-size: 42px;
        text-shadow: 
        -1px -1px 0 #ff79c6, 
        1px -1px 0 #ff79c6, 
        -1px 1px 0 #ff79c6, 
        1px 1px 0 #ff79c6;
        color: #21252b;
    }

    h3 {
        margin: 3px;
        font-size: 32px;
    }
    p{
        margin: 3px;
        // border: $border;
        padding: 0 5%;        
    }
    ul{
        // border: $border;
        width: 30%;
        margin: 0 auto;
    }
    li{
        text-align: left;
        width: 500px;
    }
}


.names {
    font-size: 30px;
    margin-left: -20%;

    ul{
        font-size: 22px;
        font-style: italic;
    }
}

.contributor-role{ // not needed
    margin-left: -160px;
}

.contributor-list {
    // border: $border;
    // height: 60vh;
    margin: 0 18%;
}