// Style for all the admin pages

.AdminWrapper,
.AccountsWrapper {
    $col-default: #eee;
    $col-background: #30343c;
    background-color: $col-background;
    color: $col-default;
    position: relative;
    width: 99%;
    margin-left: 10px;
    overflow-y: auto;
    height: fit-content;
    max-height: min(1550px, 88vh);

    button {
        font-size: 18px;
        cursor: pointer;
        border: 2px solid rgb(113, 126, 149);
        border-radius: 6px;
        height: 39px;
        box-shadow: 1px 1px 5px rgb(37, 41, 44);
        min-width: 100%;
        background-color: #343b48;
        color: #eee;

        &:hover {
            border: 2px solid #3d4656;
        }
    }

    // -----------------------------------------Inputs---------------------------------
    .floater,
    select {
        float: right;
        width: 300px;
        height: 15px;
    }

    select {
        width: 308px;
        height: 20px;
    }

    input::placeholder {
        font-size: 1.5vh;
    }

    // -----------------------------------------Admin Table---------------------------------
    table {
        margin-top: 10px;

        .tbody * {
            text-align: center;
            height: 30px;
        }
    }

    // -----------------------------------------Headers---------------------------------
    .AdminHeader,
    .AccountHeader {
        margin: auto;
        display: flex;
        flex-direction: row-reverse;

        button {
            min-width: 32%;
            margin: auto;
        }
    }

    .AccountHeader {
        margin-left: 10px;

        button {
            min-width: 48%;
        }
    }

    // -----------------------------------------Update Panel---------------------------------

    .userContainer {
        margin: auto;
        margin-top: 20px;
        width: 90%;
        padding: 2%;
        background-color: $col-background;
    }

    .userShow {
        display: inline-block;
        width: 43%;
        height: 40%;
        padding: 2%;


        span {
            width: 60%;
            float: right;
            text-align: right;
        }

        label {
            margin-bottom: 50px;
        }
    }

    // update Panel
    .userUpdate {
        float: right;
        width: 43%;
        height: 40%;
        padding: 2%;
        overflow: auto;

        .CreateSubmit {
            max-width: 309px;
            float: right;
        }
    }

    // also in createPanel
    .userUpdateForm div * {
        display: inline;
    }

    // -----------------------------------------Create Panel---------------------------------
    .CreateWrapper {
        width: 50%;
        margin: auto;
        margin-top: 20px;
        padding: 2%;
        background-color: $col-background;

        overflow: auto;

        .CreateSubmit {
            max-width: 309px;
            float: right;
        }
    }

    // -----------------------------------------User Stats---------------------------------
    .BarPlotWrapper {
        background-color: $col-background;
        width: 100%;
        text-align: center;
    }

    .BarPlot {
        height: 600px;
        width: 60%;
        margin: auto;
        resize: both;
        overflow: auto;
    }


    @media only screen and (max-width: 1480px) {
        .BarPlot {
            width: 80%;
        }

    }

    @media only screen and (max-width: 1180px) {
        .BarPlot {
            width: 99%;
        }

        .userUpdate,
        .userShow {
            float: none;
            display: block;
            width: 96%;
            margin: auto;

            span {
                width: 30%;
                float: right;
            }
        }

        .CreateWrapper {
            margin-top: 10px;
            width: 95%;
        }
    }

    @media only screen and (max-width: 590px) {

        .CreateWrapper,
        .userUpdate {
            overflow: none;

            .CreateSubmit {
                max-width: 309px;
                float: none;
            }
        }

        .userUpdateForm {

            div * {
                display: block;
            }

            #radio {
                display: inline;
            }
        }

        .floater,
        select {
            width: 60%;
            float: none;
            width: 300px;
            height: 15px;
        }

        select {
            width: 308px;
            height: 20px;
        }
    }
}

.AccountsWrapper {
    margin-top: 90px;
}

.AdminBtn:disabled,
.updateBtn:disabled {
    border: 2px solid #3d4656;
    cursor: context-menu;
}