$female-chicken-color: rgb(189, 147, 249);
$male-chicken-color: rgb(147, 198, 249);
$col-default: #eee;

.HistoryWrapper {
    margin: auto;

    button {
        font-size: 18px;
        cursor: pointer;
        border: 2px solid rgb(113, 126, 149);
        border-radius: 6px;
        height: 39px;
        margin: 10px 0px;
        box-shadow: 1px 1px 5px rgb(37, 41, 44);
        min-width: 100%;
        background-color: rgb(64, 71, 88);
        color: $col-default;

        &:hover {
            background-color: rgb(40, 44, 52);
        }

        &:active {
            $bgColor: rgb(189, 147, 249);
            background-color: $bgColor;
            box-shadow: 0 0 3px $bgColor;
            color: $col-default;
        }
    }
}

.HistoryForm {}

.HistoryTable {}