@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap'); // Beau Rivage
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&display=swap'); // Grape Nuts
$assets: './assets/';
$cellHeight: 30px;
$cellWidth: 85px;
$font-fam: 'Grape Nuts',
    'Beau Rivage',
    sans-serif;

button {
    cursor: pointer;
}


body {
    // background-color: #21252b;
    color: #383f4d;
    background-color: rgb(40, 44, 52);
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
        sans-serif;
}

/* 
  =================
  Table
  =====================
  */

// Doesn't do anything but left in incase was neeeded.
.table_container {
    max-width: 1250px;
    /* max-height: 500px; */
    margin: 0 auto;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-spacing: 0;

}

::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(33, 37, 43);
    // border-radius: 4px;
    overflow: overlay
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 4px;
}

::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 90px;
}

.add-user {
    margin-top: 25px;
    height: 25px;
    width: 25px;
    background-image: url($assets + "add.png");
    background-repeat: no-repeat;
    background-color: rgb(33, 37, 43);
    background-position: 55%;
    border-radius: 30%;
}

.table th {
    background: rgb(33, 37, 43); //rgb(40, 44, 52) //rgba(33, 37, 43, 180);
    color: #ffff; //rgb(255, 121, 198); //rgb(113, 126, 149);
    font-weight: bold;
    padding: 8px 20px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    font-size: 16px;
    position: sticky;
    top: 0;
}

.table th.up {
    background-image: url($assets + "ascend.png");
    background-position: 90%;
}

.table th.down {
    background-image: url($assets + "descend.png");
    background-position: 90%;
}

th.up,
th.default,
th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.table td {
    padding: 8px 20px;
    color: #eee;
}

// .table tbody tr:hover td {
//     background: #e0e3e8;
//     cursor: pointer;
// }


.table tbody tr:first-child td {
    border-top: none;
}

.table tbody tr:nth-child(n) td {
    background: #30343c;
    border-bottom: 1px solid #2c313a;
}

.table tbody tr:nth-child(2n) td {
    background: #2c313a;
}

.entire-page {
    position: relative;
}

.left-panel {
    top: 87px;
    left: 0;
}

.top-panel {
    // position: absolute;
    top: 0;
    left: 0;
}

.footer {
    bottom: 0;
    right: 0;
}

.body-wrapper {
    width: 100vw;
    display: flex;
    margin-left: -15px;
    // margin-right: -5px;
    right: 0;
    
    // margin-bottom: 5px;
    height: 100vh;
}

.container {
    width: 90vw;
}