.left-panel-toggle,
.left-panel-settings {
  cursor: pointer;
}

body {
  overflow-y: hidden;
}

.left-panel {
  position: relative;
  // background: rgb(40, 44, 52);
  background: rgb(33, 37, 43);
  width: 65px;
  min-width: 65px;
  height: 100vh;
  box-sizing: border-box;
  padding: 15px 0 15px 20px;
  transition: width .35s ease-out;
  overflow: hidden;

  .left-panel-item {
    cursor: pointer;
    position: relative;
    color: #eee;
    font-size: 40px;
    margin-top: 40px;
    width: 200px;
  }
}

.inactive,
.inactive>.left-panel-settings {
  overflow-y: auto;
  width: 250px;
}

.top-left-panel {
  position: relative;
  margin-left: -5px;
}

.left-panel-toggle {
  font-size: 40px;
  overflow: hidden;
  color: #eee;
}

.divider {
  height: 2px;
  border-radius: 1px;
  background-color: rgb(255, 121, 198);
  bottom: -60px;
  margin-left: -20px;
}

//*** All menu items ***// 
.left-panel-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 32px;
  margin: 0 auto;
  right: 1px;
  // padding: 10px 0;

  span {
    position: relative;
    top: -2.4px;
    left: 12px;
    display: inline;
    // vertical-align: top;
    text-overflow: clip;
    overflow: hidden;
  }

  &:hover {
    background-color: #282c34;
    border-left: 3px solid rgb(255, 121, 198);
    width: 100%;
  }
}

.left-panel-item div:focus {
  background-color: #282c34;
  border-left: 3px solid rgb(255, 121, 198);
  width: 100%;
}

.bottom-left-panel {
  position: absolute;
  bottom: 20%;
}