// login page
.login-wrapper {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #383f4d;
    border: 2px solid #ff79c6;
    border-radius: 10px;
    padding: 2em;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-shadow: 
            -1px -1px 0 #ff79c6, 
            1px -1px 0 #ff79c6, 
            -1px 1px 0 #ff79c6, 
            1px 1px 0 #ff79c6;
        color: #21252b;
    }
    p {
        margin-bottom: 2px;
        color: #ff79c6;
    }
    input {
        min-height: 25px;
    }

    button {
        $button-bg-color: #ff79c6;
        $button-border-color: #ad5386;
        display: inline-block;
        padding: 15px;
        margin-right: 5px;
        margin-top: 20px;
        height: 50px;
        width: 100%;
        background: $button-bg-color;
        border: none;
        outline: none;
        color: white;
        font-family: inherit;
        font-weight: 400;
        font-size: 20px;
        border-radius: 3px;
        box-shadow: 0 5px 0px darken($button-bg-color,0%);
        border-bottom: 2px solid darken($button-bg-color,3%);
        
        &:hover{
          background: darken($button-bg-color,5%);
          box-shadow: 0 4px 1px darken($button-bg-color,5%);
          border-bottom: 2px solid darken($button-bg-color,8%);
          transition: all 0.1s ease-in;
        }
        
        &:active{
          transform:translateY(4px);
          border-bottom-width: 2px;
          box-shadow: none;
        }
      }
}


//animation
.dot {
    animation: xAxis 15s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
    position: absolute;
    left: 22%;
    top: 10%;
}

.dot::after {
    content: '';
    position: absolute;
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #ff79c6;
    filter: blur(75px);
    animation: yAxis 20s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

@keyframes yAxis {
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(60vh);
    }
}

@keyframes xAxis {
    50% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        transform: translateX(60vw);
    }
}