body {
    background-color: rgb(40, 44, 52);
}

.main-panel {
    position: relative;
    display: flex;
    width: 100%;
    float: right;
    margin-left: 100px;
    margin-top: 10px;
    height: 100vh - 15vh;
    overflow-y: auto;
}

.parent-Main {
    width: 100%;
}

.main-panel * {
    text-align: center;
    height: 30px;
}