body {
    background-color: rgb(40, 44, 52);

}

.main-panel {
    position: relative;
    display: flex;
    width: 100%;
    float: right;
    margin-left: 80px;
    margin-right: 10;
    // margin-bottom: 87.5px;
    height: calc(100vh - 180px) !important; // make table not extend bellow page
    margin-top: 10px;
    overflow-y: auto;
}

.parent-Main {
    width: 100%;
}

.main-panel * {
    text-align: center;
    height: 30px;
}