$female-chicken-color: rgb(189, 147, 249);
$male-chicken-color: rgb(147, 198, 249);

.pairing-wrapper {
    position: relative;
    margin-top: 87px;
    width: 100%;
    padding: 0 35px;

    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        height: 39px;
        margin: 10px 0;
        box-shadow: 1px 1px 5px rgb(37, 41, 44);
        font-weight: bold;
        min-width: 100%;
        background-color: rgb(64, 71, 88);

        &:hover {
            background-color: rgb(40, 44, 52);
        }

        &:active {
            $bgColor: rgb(189, 147, 249);
            background-color: $bgColor;
            box-shadow: 0 0 3px $bgColor;
            color: white;
        }
    }

    .year {
        display: flex;
        justify-content: center;
        height: 65px;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(37, 41, 44);
    }

    .years-collected {
        float: left;
        margin: auto;
        padding: 5px;
        color: white;
    }

    label {
        color: #eee;
        font-size: 23px;
        padding-right: 7px;
    }

    .years-collected label {
        margin-left: 10px;
    }

    .all-years label {
        color: red;
    }

    .errMsg {
        height: 30px;
        width: auto;
        margin-top: 7px;
        padding: 20px 0;
    }

    .errMsg label {
        display: block;
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .filter-subjects,
    .target-subjects {
        max-width: 15%;
        min-width: 150px;
    }

    .filter-subjects,
    .target-subjects,
    .matched-pairs {
        background-color: rgb(94, 106, 130);
    }

    .female-chickens .male-chickens {
        white-space: pre-line;
    }

    .clickToggle {
        background-color: rgb(189, 147, 249);
    }


    .arrow-buttons {
        max-width: fit-content;
    }

    .arrow-buttons button {
        display: block;
        margin: 0;
        margin-top: 65px;
        padding-top: 8px;
        min-width: 150px;
        color: white;
        font-size: 15px;

        &:hover {
            background-color: rgb(94, 106, 130);
        }
    }

    .matched-pairs {
        flex-grow: 4;
        float: right;
        width: 1003px;
    }

    .matched-pairs button {
        display: flex;
        align-items: center;
        // padding-left: 40%;
        color: #eee;

        .female-span {
            color: $female-chicken-color;
        }

        .male-span {
            color: $male-chicken-color;
        }

        img {
            height: 30px;
            width: 30px;
        }

        span {
            padding: 0 10px;
        }
    }

    input[type="radio"] {
        $radius: 23px;
        width: $radius;
        height: $radius;
        accent-color: #5e6a82;
        background: rgb(186, 73, 137);
        margin-right: 25px;
        margin-top: 37px;
    }

    .radio-btns label {
        margin: 0;
        margin-right: 30px;
        margin-left: -8px;
    }

    .paired-div:focus {
        background-color: #060606;
    }

    .paired-div {
        padding: 0 125px;
    }

    .paired-div * {
        // background-color: rgb(47, 98, 149);
        margin: 0 auto;
    }

    .female-span {
        margin: 0 0 0 auto;
    }

    .male-span {
        margin: 0 auto 0 0;
    }

    .paired-div img {
        margin: 0;
    }
}