$female-chicken-color: rgb(189, 147, 249);
$male-chicken-color: rgb(147, 198, 249);
$col-default: #eee;
$top-radius: 15px;


.pairing-wrapper {
    position: relative;
    margin-top: 87px;
    width: 100%;
    // padding: 0 35px;
    height: calc(100vh - 340px) !important;

    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        height: 39px;
        margin: 10px 0;
        box-shadow: 1px 1px 5px rgb(37, 41, 44);
        font-weight: bold;
        width: 100%;
        background-color: rgb(64, 71, 88);

        &:hover {
            background-color: rgb(40, 44, 52);
        }

        &:active {
            $bgColor: rgb(189, 147, 249);
            background-color: $bgColor;
            box-shadow: 0 0 3px $bgColor;
            color: $col-default;
        }
    }

    .save-pairs {
        margin-top: 210px;
        margin-bottom: 60px;
        max-width: 130px;
        border: 2px solid rgb(113, 126, 149);
        background-color: #343b48;
        color: #eee;
        border-radius: 6px;
        font-size: 18px;
    
        &:hover {
            border: 2px solid #3d4656;
        }
    }

    .year {
        display: flex;
        border-radius: 10px;
        // border-top-right-radius: 10px;
        justify-content: center;
        height: 65px;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(37, 41, 44);
    }

    .years-collected {
        float: left;
        margin: auto;
        padding: 5px;
        color: $col-default;
    }

    label {
        color: $col-default;
        font-size: 23px;
        padding-right: 7px;
    }

    .years-collected label {
        margin-left: 10px;
    }

    .all-years label {
        color: red;
    }

    .errMsg {
        height: 30px;
        width: auto;
        margin-top: 7px;
        padding: 20px 0;
    }

    .errMsg label {
        display: block;
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .arrow-buttons {
        max-width: fit-content;
        padding-top: 150px;
    }

    .arrow-buttons button {
        display: block;
        margin-top: 65px;
        padding-top: 8px;
        min-width: 150px;
        color: white;
        font-size: 15px;

        &:hover {
            background-color: rgb(94, 106, 130);
        }
    }

    .matched-pairs {
        // border: 2px solid lavender;
        background-color: rgb(94, 106, 130);
        border-top-left-radius: $top-radius;
        border-top-right-radius: $top-radius;
        min-width: 350px;
        max-width: 350px;

        .wrapper {
            border-top-left-radius: $top-radius;
            border-top-right-radius: $top-radius;
            margin: 0;
        }

    }

    .matched-pairs button {
        display: flex;
        align-items: center;
        color: $col-default;

        .female-span {
            color: $female-chicken-color;
        }

        .male-span {
            color: $male-chicken-color;
        }

        img {
            height: 30px;
            width: 30px;
        }

        span {
            padding: 0 10px;
        }
    }

    input[type="radio"] {
        $radius: 23px;
        width: $radius;
        height: $radius;
        accent-color: #5e6a82;
        background: rgb(186, 73, 137);
        margin-right: 25px;
        margin-top: 37px;
    }

    .radio-btns label {
        margin: 0;
        margin-right: 30px;
        margin-left: -8px;
    }

    .paired-button {
        justify-content: center;

        :focus {
            background-color: #060606;
        }
    }

    @import './selectionPanel.stylesheet.scss';
}