$female-chicken-color: rgb(189, 147, 249);
$male-chicken-color: rgb(147, 198, 249);

.selection-panel {
    display: flex;
    margin: 0;
    background-color: rgb(37, 41, 44);
    height: 83.75%;
    width: 100%;
}

.selection-panel div {
    flex-grow: 1;
    display: block;
    float: left;
    height: auto;
    width: 10%;
    padding: 15px;
    margin: 0 50px;
    overflow-y: auto;
    overflow-x: auto;
}

.female-chickens {
    color: $female-chicken-color;
}

.male-chickens {
    color: powderblue;
}

.selected-female,
.selected-male {
    border: 1px solid #21252b;
    box-shadow: 0 0 0 2px #6a6a6a;

    &:hover {
        // background-color: rgb(175, 175, 110);
        color: #eee;
    }
}

.selected-female {
    background-color: $female-chicken-color;
}

.selected-male {
    background-color: $male-chicken-color;
}